.data-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.data-img{
width: 100%;
height: 200px;
}

.data-container{
    max-width:1140px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap:40px;
    padding-bottom: 5rem;
}

.data-card{
    background: #1a1919;
    padding:1.2rem 1rem;
}

.data-card img{
    width:100%;
}


.data-title{
    color:#fff;
    padding: 1rem 0;

}

.data-details p{
    padding-bottom: 1rem;
    font-size:1rem;
    text-align: justify;
}


.data-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.data-btns .btn{
padding:0.5rem 1rem;
}

@media screen and(max-width:740px){
    .data-container{
        max-width:90%;
        margin:auto;

        grid-template-columns:1fr;
    }
}
